<div>
<div class="container loginview row">
		<p class = "col-md-4">Sign Up below or continue to Log in here</p> 
	   <div class="col-md-2"><input type="text" class="form-control " placeholder="Username"></div> 
	   <div class="col-md-2"><input type="password" class="form-control " placeholder="Password"> </div>
	   <div class="col-md-3"><button class="login button btn btn-danger ">Log In</button></div>
  
</div>
<hr>
  <div class="container signupview">
  	<div class="col-md-5">
  	<p class="row"> Find meaning in data and make better decisions! </p>
  	<p class="row"> Cost and Benefit analysis </p>
  	<p class="row"> Predictive analysis to help you envison the outcome. </p>
  	</div>
	<div class="row col-md-4">
		<input type="text" class="form-control signup"  placeholder="First Name">
		<input type="text" class="form-control signup"  placeholder="Last Name">
		<input type="text" class="form-control signup"  placeholder="Username">
		<input type="text" class="form-control signup"  placeholder="Email">
	    <input type="password" class="form-control signup"  placeholder="Password">
	    <input type="password" class="form-control signup"  placeholder="Confirm Password">
	    <button class="signup button btn btn-danger">Sign Up</button>
	</div>
	
  </div>
</div>