<div class="container loginView">

	<div class="row">
		<input type="text" class="form-control" size="25" placeholder="First Name">
		<input type="text" class="form-control" size="25" placeholder="Last Name">
		<input type="text" class="form-control" size="25" placeholder="Username">
		<input type="text" class="form-control" size="25" placeholder="email">
	    <input type="text" class="form-control" size="25" placeholder="Password">
	    <input type="text" class="form-control" size="25" placeholder="Confirm Password">
	</div>
	<div class="row">
    	<button class="signup button btn btn-danger">sign up</button>
    </div>
  </div>